<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tmrasys.dao.DocumentDao">
	<insert id="insertDocument" keyProperty="fileId" parameterMap="docParameter"
		useGeneratedKeys="true">
		INSERT INTO
		document
		(FileId, FileName, FilePath,
		FileOwner, FileOwnerId, FileType, ParentId, AddTime)
		VALUES
		(#{fileId},#{fileName},#{filePath},#{fileOwner},#{fileOwnerId},#{fileType},#{parentId},now());
	</insert>
	<select id="loadDocumentById" resultMap="docResult"
		parameterType="map">
		SELECT * FROM document
		WHERE
		FileId=#{id}
	</select>
	<select id="loadFileByUserName" resultMap="docResult"
		parameterType="map">
		SELECT * FROM document
		WHERE
		FileOwner=#{userName}
		AND
		FileName=#{fileName}
	</select>
	<select id="loadFolderByName" resultType="int" parameterType="map">
		SELECT count(FileId) FROM document
		WHERE
		FileOwner=#{owner}
		AND
		FileName=#{name}
		AND
		ParentId=#{parentId}
	</select>
	<select id="loadRootFoldersUnderUser" resultMap="docResult"
		parameterType="map">
		SELECT * FROM document
		WHERE
		FileOwner=#{name}
		AND
		ParentId=#{parentId}
		ORDER BY addTime
	</select>
	<select id="loadFilesUnderUserByType" resultMap="docResult"
		parameterType="map">
		SELECT * FROM document
		WHERE
		FileOwner=#{owner}
		AND
		ParentId=#{folderId}
		<if test="fileType &lt; 3">
			AND FileType=#{fileType}
		</if>
		ORDER BY addTime DESC
	</select>
	<select id="loadFilesByType" resultMap="docResult"
		parameterType="map">
		SELECT * FROM document
		WHERE
		ParentId=#{folderId}
		<if test="fileType &lt; 3">
			AND FileType=#{fileType}
		</if>
		ORDER BY addTime DESC
	</select>
	<delete id="deleteFileById" parameterType="map">
		DELETE FROM document
		WHERE
		FileId=#{fileId}
		AND
		FileOwner=#{owner}
	</delete>
	<delete id="deleteFileByParentId" parameterType="map">
		DELETE FROM
		document
		WHERE
		ParentId=#{fileId}
		AND
		FileOwner=#{owner}
	</delete>
	<resultMap type="com.tmrasys.domain.Document" id="docResult">
		<id property="fileId" column="FileId" />
		<result property="fileName" column="FileName" />
		<result property="filePath" column="FilePath" />
		<result property="fileOwner" column="FileOwner" />
		<result property="fileOwnerId" column="FileOwnerId" />
		<result property="fileType" column="FileType" />
		<result property="parentId" column="ParentId" />
		<result property="addTime" column="AddTime" />
	</resultMap>
	<parameterMap type="com.tmrasys.domain.Document" id="docParameter">
		<parameter property="fileId" resultMap="FileId" />
		<parameter property="fileName" resultMap="FileName" />
		<parameter property="filePath" resultMap="FilePath" />
		<parameter property="fileOwner" resultMap="FileOwner" />
		<parameter property="fileOwnerId" resultMap="FileOwnerId" />
		<parameter property="fileType" resultMap="FileType" />
		<parameter property="parentId" resultMap="ParentId" />
		<parameter property="addTime" resultMap="AddTime" />
	</parameterMap>
</mapper>

