<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tmrasys.dao.EmployeeDao">
	<select id="getEmployeeByName" resultMap="employeeMapper"
		parameterType="String">
		SELECT * FROM employee
		WHERE
		employee_name=#{name}
	</select>
<resultMap type="com.tmrasys.domain.Employee" id="employeeMapper">
	<id property="employeeId" column="EMPLOYEE_ID"/>
	<result property="name" column="EMPLOYEE_NAME"/>
	<result property="password" column="PASSWORD"/>
	<result property="privilege" column="FK_PRIVILEGE_ID"/>
</resultMap>
</mapper>

