<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tmrasys.dao.EmployeeDao">
	<select id="getEmployeeByName" resultMap="employeeMapper"
		parameterType="String">
		SELECT * FROM employee
		WHERE
		employee_name=#{name}
	</select>
	<select id="getAllEmployees" resultMap="employeeMapper">
		SELECT * FROM employee
	</select>
	<select id="getEmployeesByProjectId" parameterType="int"
		resultType="int">
		SELECT e.employee_id FROM employee e LEFT JOIN
		project_employee pe ON
		e.employee_id = pe.EMPLOYEE_ID WHERE
		pe.PROJECT_ID = #{projectId};
	</select>
	<select id="getEmployeesEmailByProjectId" parameterType="int"
		resultType="string">
		SELECT e.EMAIL FROM employee e LEFT JOIN
		project_employee pe
		ON
		e.employee_id = pe.EMPLOYEE_ID WHERE
		pe.PROJECT_ID = #{projectId}
		AND
		e.employee_id <![CDATA[!=]]> #{operatorId}
	</select>

	<insert id="addEmployee" keyProperty="employeeId" parameterMap="employeeParameter"
		useGeneratedKeys="true">
		INSERT INTO `employee`
		(`EMPLOYEE_NAME`,`FK_EMPLOYEE_ROLE_ID`,`FK_PRIVILEGE_ID`,`PASSWORD`)
		VALUES (#{name}, #{employeeRoleId}, #{privilege}, #{password});
	</insert>
	<update id="updateEmployee" parameterMap="employeeParameter"
		flushCache="true">
		UPDATE employee
		SET EMPLOYEE_NAME = #{name}, PASSWORD =
		#{password} ,FK_PRIVILEGE_ID = #{privilege} ,FK_EMPLOYEE_ROLE_ID =
		#{employeeRoleId}
		WHERE employee.EMPLOYEE_ID = #{employeeId}
		;
	</update>
	<resultMap type="com.tmrasys.domain.Employee" id="employeeMapper">
		<id property="employeeId" column="EMPLOYEE_ID" />
		<result property="name" column="EMPLOYEE_NAME" />
		<result property="password" column="PASSWORD" />
		<result property="privilege" column="FK_PRIVILEGE_ID" />
		<result property="employeeRoleId" column="FK_EMPLOYEE_ROLE_ID" />
	</resultMap>
	<parameterMap type="com.tmrasys.domain.Employee" id="employeeParameter">
		<parameter property="employeeId" resultMap="EMPLOYEE_ID" />
		<parameter property="name" resultMap="EMPLOYEE_NAME" />
		<parameter property="password" resultMap="PASSWORD" />
		<parameter property="privilege" resultMap="FK_PRIVILEGE_ID" />
		<parameter property="employeeRoleId" resultMap="FK_EMPLOYEE_ROLE_ID" />
	</parameterMap>
</mapper>

