<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tmrasys.dao.OutSourceDao">
	<select id="getByEmployeeAndId" resultType="string"
		parameterType="map">
		SELECT
		OS.OUT_SOURCE_ID
		FROM project_employee PE
		INNER
		JOIN
		project P on PE.PROJECT_ID =
		P.PROJECT_ID
		INNER JOIN
		out_source
		OS on
		P.PROJECT_ID = OS.FK_PROJECT_ID
		WHERE
		PE.EMPLOYEE_ID=#{employeeId}
		AND
		OS.OUT_SOURCE_ID = #{osId}
	</select>

	<select id="getByProjectId" resultMap="outSourceMapper"
		resultType="list" parameterType="int">
		SELECT * FROM out_source
		WHERE
		FK_PROJECT_ID=#{projectId}
	</select>
	<select id="getByProjectName" resultMap="outSourceMapperByEmployee"
		resultType="list" parameterType="int">
		SELECT
		P.PROJECT_ID AS
		FK_PROJECT_ID,P.PROJECT_NAME AS
		PROJECT_NAME,OS.OUT_SOURCE_ID AS
		OUT_SOURCE_ID,
		OS.OUT_SOURCE_TYPE AS
		OUT_SOURCE_TYPE,OS.OUT_SOURCE_UNIT
		AS
		OUT_SOURCE_UNIT,OS.SEND_SAMPLE_COUNT AS
		SEND_SAMPLE_COUNT,OS.SEND_SAMPLE_DATE AS SEND_SAMPLE_DATE,
		OS.OUT_SOURCE_STATUS AS OUT_SOURCE_STATUS
		FROM project_employee PE
		INNER
		JOIN
		project P on PE.PROJECT_ID =
		P.PROJECT_ID
		INNER JOIN
		out_source
		OS on
		P.PROJECT_ID = OS.FK_PROJECT_ID
		WHERE
		PE.EMPLOYEE_ID=#{employeeId}
		AND P.PROJECT_NAME LIKE "%"#{projectName}"%"
		ORDER
		BY OS.OUT_SOURCE_ID
		DESC

	</select>

	<select id="getById" resultMap="outSourceMapper" parameterType="int">
		SELECT * FROM out_source
		WHERE
		OUT_SOURCE_ID=#{osId}
	</select>

	<select id="getByEmployee" resultMap="outSourceMapperByEmployee"
		parameterType="int">
		SELECT
		P.PROJECT_ID AS
		FK_PROJECT_ID,P.PROJECT_NAME AS
		PROJECT_NAME,OS.OUT_SOURCE_ID AS OUT_SOURCE_ID,
		OS.OUT_SOURCE_TYPE AS
		OUT_SOURCE_TYPE,OS.OUT_SOURCE_UNIT AS
		OUT_SOURCE_UNIT,OS.SEND_SAMPLE_COUNT AS
		SEND_SAMPLE_COUNT,OS.SEND_SAMPLE_DATE AS SEND_SAMPLE_DATE,
		OS.OUT_SOURCE_STATUS AS OUT_SOURCE_STATUS
		FROM project_employee PE
		INNER
		JOIN
		project P on PE.PROJECT_ID =
		P.PROJECT_ID
		INNER JOIN
		out_source
		OS on
		P.PROJECT_ID = OS.FK_PROJECT_ID
		WHERE
		PE.EMPLOYEE_ID=#{employeeId}
		ORDER
		BY OS.OUT_SOURCE_ID DESC
	</select>

	<select id="countByEmployee" resultType="int" parameterType="int">
		SELECT
		count(*)
		FROM project_employee PE
		INNER
		JOIN
		project P on
		PE.PROJECT_ID =
		P.PROJECT_ID
		INNER JOIN
		out_source
		OS on
		P.PROJECT_ID =
		OS.FK_PROJECT_ID
		WHERE
		PE.EMPLOYEE_ID=#{employeeId}
		ORDER
		BY
		OS.OUT_SOURCE_ID DESC
	</select>

	<select id="getPagedByEmployee" resultMap="outSourceMapperByEmployee"
		parameterType="int">
		SELECT
		P.PROJECT_ID AS
		FK_PROJECT_ID,P.PROJECT_NAME AS
		PROJECT_NAME,OS.OUT_SOURCE_ID AS OUT_SOURCE_ID,
		OS.OUT_SOURCE_TYPE AS
		OUT_SOURCE_TYPE,OS.OUT_SOURCE_UNIT AS
		OUT_SOURCE_UNIT,OS.SEND_SAMPLE_COUNT AS
		SEND_SAMPLE_COUNT,OS.SEND_SAMPLE_DATE AS SEND_SAMPLE_DATE,
		OS.OUT_SOURCE_STATUS AS OUT_SOURCE_STATUS
		FROM project_employee PE
		INNER
		JOIN
		project P on PE.PROJECT_ID =
		P.PROJECT_ID
		INNER JOIN
		out_source
		OS on
		P.PROJECT_ID = OS.FK_PROJECT_ID
		WHERE
		PE.EMPLOYEE_ID=#{employeeId}
		ORDER
		BY OS.OUT_SOURCE_ID DESC LIMIT #{start}, #{end}
	</select>

	<insert id="addOutSource" parameterMap="outSourceParameter"
		keyProperty="outSourceId" useGeneratedKeys="true">
		INSERT INTO
		`out_source`
		(`OUT_SOURCE_UNIT`,`ADRESS`,`SEND_SAMPLE_DATE`,`SEND_SAMPLE_COUNT`,`IS_EXPERIMENT_RESULT_RECIVED`,
		`OUT_SOURCE_STATUS`,`FK_PROJECT_ID`,`OUT_SOURCE_TYPE`
		,`CONTACT_PERSON`,`CONTACT_PHONE`,`CONTRACT_AMOUNT`,`CONTRACT_INFO`
		,`DATA_SOURCE`,`DATA_NUM`,`ANALYZE_INFO`)
		VALUES
		(#{outSourceUnit},#{address},#{sendSampleDate},#{sendSampleCount},#{exprResultRecived},#{outSourceStatus}
		,#{projectId},#{outSourceType},
		#{contactPerson},#{contactPhone},#{contractAmount},#{contactInfo}
		,#{dataSource},#{dataNum},#{analyzeInfo});
	</insert>

	<update id="updateOutSource" parameterMap="outSourceParameter"
		flushCache="true">
		UPDATE `out_source`
		SET `OUT_SOURCE_UNIT`=#{outSourceUnit},
		`ADRESS`=#{address},`SEND_SAMPLE_DATE`=#{sendSampleDate},`SEND_SAMPLE_COUNT`=#{sendSampleCount}
		,`IS_EXPERIMENT_RESULT_RECIVED`=#{exprResultRecived},
		`OUT_SOURCE_STATUS`=#{outSourceStatus},`FK_PROJECT_ID`=#{projectId},`OUT_SOURCE_TYPE`=#{outSourceType},
		`CONTACT_PERSON`=#{contactPerson},`CONTACT_PHONE`=#{contactPhone},
		`CONTRACT_AMOUNT`=#{contractAmount},`CONTRACT_INFO`=#{contactInfo}
		,`DATA_SOURCE`=#{dataSource},`DATA_NUM`=#{dataNum},`ANALYZE_INFO`=#{analyzeInfo}
		WHERE OUT_SOURCE_ID=#{outSourceId}
	</update>

	<resultMap type="com.tmrasys.domain.ProjectOutSource" id="outSourceMapperByEmployee">
		<result property="outSourceId" column="OUT_SOURCE_ID" />
		<result property="outSourceUnit" column="OUT_SOURCE_UNIT" />
		<result property="address" column="ADRESS" />
		<result property="sendSampleDate" column="SEND_SAMPLE_DATE" />
		<result property="sendSampleCount" column="SEND_SAMPLE_COUNT" />
		<result property="exprResultRecived" column="IS_EXPERIMENT_RESULT_RECIVED" />
		<result property="outSourceStatus" column="OUT_SOURCE_STATUS" />
		<result property="outSourceType" column="OUT_SOURCE_TYPE" />
		<result property="projectId" column="FK_PROJECT_ID" />
		<result property="projectName" column="PROJECT_NAME" />
	</resultMap>

	<parameterMap type="com.tmrasys.domain.OutSource" id="outSourceParameter">
		<parameter property="outSourceId" resultMap="OUT_SOURCE_ID" />
		<parameter property="outSourceUnit" resultMap="OUT_SOURCE_UNIT" />
		<parameter property="address" resultMap="ADRESS" />
		<parameter property="sendSampleDate" resultMap="SEND_SAMPLE_DATE" />
		<parameter property="sendSampleCount" resultMap="SEND_SAMPLE_COUNT" />
		<parameter property="exprResultRecived" resultMap="IS_EXPERIMENT_RESULT_RECIVED" />
		<parameter property="outSourceStatus" resultMap="OUT_SOURCE_STATUS" />
		<parameter property="outSourceType" resultMap="OUT_SOURCE_TYPE" />
		<parameter property="projectId" resultMap="FK_PROJECT_ID" />
		<parameter property="contactPerson" resultMap="CONTACT_PERSON" />
		<parameter property="contactPhone" resultMap="CONTACT_PHONE" />
		<parameter property="contractAmount" resultMap="CONTRACT_AMOUNT" />
		<parameter property="contactInfo" resultMap="CONTRACT_INFO" />
		<parameter property="dataSource" resultMap="DATA_SOURCE" />
		<parameter property="dataNum" resultMap="DATA_NUM" />
		<parameter property="analyzeInfo" resultMap="ANALYZE_INFO" />
	</parameterMap>

	<resultMap type="com.tmrasys.domain.OutSource" id="outSourceMapper">
		<id property="outSourceId" column="OUT_SOURCE_ID" />
		<result property="outSourceUnit" column="OUT_SOURCE_UNIT" />
		<result property="address" column="ADRESS" />
		<result property="sendSampleDate" column="SEND_SAMPLE_DATE" />
		<result property="sendSampleCount" column="SEND_SAMPLE_COUNT" />
		<result property="exprResultRecived" column="IS_EXPERIMENT_RESULT_RECIVED" />
		<result property="outSourceStatus" column="OUT_SOURCE_STATUS" />
		<result property="outSourceType" column="OUT_SOURCE_TYPE" />
		<result property="projectId" column="FK_PROJECT_ID" />
		<result property="contactPerson" column="CONTACT_PERSON" />
		<result property="contactPhone" column="CONTACT_PHONE" />
		<result property="contractAmount" column="CONTRACT_AMOUNT" />
		<result property="contactInfo" column="CONTRACT_INFO" />
		<result property="dataSource" column="DATA_SOURCE" />
		<result property="dataNum" column="DATA_NUM" />
		<result property="analyzeInfo" column="ANALYZE_INFO" />
	</resultMap>

</mapper>

