<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tmrasys.dao.ProjectDao">
	<select id="loadProjectById" resultMap="employeeMapper"
		parameterType="int">
		SELECT * FROM project
		WHERE
		project_id=#{id}
	</select>
	
	<select id="loadAllProjects" resultMap="employeeMapper">
		SELECT * FROM project
	</select>

	<select id="loadProjectsByEmployee" resultType="list" resultMap="employeeMapper"
		parameterType="int">
		SELECT * FROM project P
		INNER JOIN project_employee PE ON
		P.PROJECT_ID = PE.PROJECT_ID
		INNER JOIN employee E ON E.EMPLOYEE_ID = PE.EMPLOYEE_ID AND E.EMPLOYEE_ID =
		#{employeeId}
	</select>
	
	<select id="loadProjectsByEmployeeAndId" resultMap="employeeMapper"
		parameterType="map">
		SELECT * FROM project P
		INNER JOIN project_employee PE ON
		P.PROJECT_ID = PE.PROJECT_ID
		INNER JOIN employee E ON E.EMPLOYEE_ID = PE.EMPLOYEE_ID 
		AND E.EMPLOYEE_ID = #{employeeId}
		AND P.PROJECT_ID = #{projectId}
	</select>
	
	<select id="countProjectsByEmployee" resultType="int" 
		parameterType="int">
		SELECT count(*) FROM project P
		INNER JOIN project_employee PE ON
		P.PROJECT_ID = PE.PROJECT_ID AND P.PROJECT_PERCENTAGE <![CDATA[<>]]> 100
		INNER JOIN employee E ON E.EMPLOYEE_ID = PE.EMPLOYEE_ID AND E.EMPLOYEE_ID =
		#{employeeId}
	</select>
	
	<select id="loadProjectsPagination" resultType="list" resultMap="employeeMapper"
		parameterType="map">
		SELECT * FROM project P
		INNER JOIN project_employee PE ON
		P.PROJECT_ID = PE.PROJECT_ID AND P.PROJECT_PERCENTAGE <![CDATA[<>]]> 100
		INNER JOIN employee E ON E.EMPLOYEE_ID = PE.EMPLOYEE_ID AND E.EMPLOYEE_ID =
		#{employeeId} LIMIT #{start}, #{end};
	</select>
	
	<select id="countCompletedProjectsByEmployee" resultType="int" 
		parameterType="int">
		SELECT count(*) FROM project P
		INNER JOIN project_employee PE ON
		P.PROJECT_ID = PE.PROJECT_ID AND P.PROJECT_PERCENTAGE = 100
		INNER JOIN employee E ON E.EMPLOYEE_ID = PE.EMPLOYEE_ID AND E.EMPLOYEE_ID =
		#{employeeId}
	</select>
	
	<select id="loadCompletedProjectsPagination" resultType="list" resultMap="employeeMapper"
		parameterType="map">
		SELECT * FROM project P
		INNER JOIN project_employee PE ON
		P.PROJECT_ID = PE.PROJECT_ID AND P.PROJECT_PERCENTAGE = 100
		INNER JOIN employee E ON E.EMPLOYEE_ID = PE.EMPLOYEE_ID AND E.EMPLOYEE_ID =
		#{employeeId} LIMIT #{start}, #{end};
	</select>

	<insert id="addProject" parameterMap="projectParameter"
		keyProperty="projectId" useGeneratedKeys="true">
		INSERT INTO `project` 
		(`PROJECT_ID`,`NEED_PRINCPAL_ASSIST`,`PRIORITY`,`START_DATE`,`END_DATE`,`PROJECT_CONTENT`,`POTENTIAL_EXPENDITURE`,
		`SAMPLE_COUNT`,`RESEARCH_DIRECTION`,`TECHNOLOGY_PLATFORM_DEMAND`,`HAS_CORPORATED_INTENTION`,`NEED_PROJECT_PLAN`,
		`NEED_SCI`,`PROJECT_NOTE`,`PROJECT_NAME`,`PROJECT_TYPE`,`PROJECT_PERCENTAGE`)
		VALUES
		(#{projectId},#{needPrincipalAssist},#{priority},#{startDate},#{endDate},#{projectContent},#{potentialExpenditure},
		#{sampleCount},#{researchDirection},#{platformDemand},#{hasCorporatedIntention},#{needProjectPlan},
		#{needSCI},#{projectNote},#{projectName},#{projectType},#{projectStatusPercentage});
	</insert>
	
	<update id="updateProject" parameterMap="projectParameter" flushCache="true">
		UPDATE project
		SET 
		PROJECT_NAME = #{projectName}, 
		PRIORITY = #{priority},
		START_DATE = #{startDate}, 
		END_DATE = #{endDate},
		NEED_PRINCPAL_ASSIST = #{needPrincipalAssist},
		PROJECT_CONTENT = #{projectContent},
		POTENTIAL_EXPENDITURE = #{potentialExpenditure},
		SAMPLE_COUNT = #{sampleCount},
		RESEARCH_DIRECTION = #{sampleCount},
		TECHNOLOGY_PLATFORM_DEMAND = #{platformDemand},
		HAS_CORPORATED_INTENTION = #{hasCorporatedIntention},
		NEED_PROJECT_PLAN = #{needProjectPlan},
		NEED_SCI =#{needSCI},
		PROJECT_NOTE = #{projectNote},
		PROJECT_TYPE = #{projectType},
		PROJECT_PERCENTAGE = #{projectStatusPercentage}
		WHERE project.PROJECT_ID = #{projectId};
	</update>
	<select id="findProjectByProjectName" resultMap="employeeMapper"
		parameterType="map">
		SELECT * FROM project p,project_employee pe
		WHERE p.project_id = pe.project_id
		      AND pe.employee_id = #{employeeID}
		      AND p.project_name LIKE "%"#{projectName}"%"
		ORDER BY p.project_id DESC		
	</select>
	
	<parameterMap type="com.tmrasys.domain.Project" id="projectParameter">
		<parameter property="projectId" resultMap="PROJECT_ID" />
		<parameter property="projectName" resultMap="PROJECT_NAME" />
		<parameter property="priority" resultMap="PRIORITY" />
		<parameter property="startDate" resultMap="START_DATE" />
		<parameter property="endDate" resultMap="END_DATE" />
		<parameter property="needPrincipalAssist" resultMap="NEED_PRINCPAL_ASSIST" />
		<parameter property="projectContent" resultMap="PROJECT_CONTENT" />
		<parameter property="potentialExpenditure" resultMap="POTENTIAL_EXPENDITURE" />
		<parameter property="sampleCount" resultMap="SAMPLE_COUNT" />
		<parameter property="researchDirection" resultMap="RESEARCH_DIRECTION" />
		<parameter property="platformDemand" resultMap="TECHNOLOGY_PLATFORM_DEMAND" />
		<parameter property="hasCorporatedIntention" resultMap="HAS_CORPORATED_INTENTION" />
		<parameter property="needProjectPlan" resultMap="NEED_PROJECT_PLAN" />
		<parameter property="needSCI" resultMap="NEED_SCI" />
		<parameter property="projectNote" resultMap="PROJECT_NOTE" />
		<parameter property="projectType" resultMap="PROJECT_TYPE" />
		<parameter property="projectStatusPercentage" resultMap="PROJECT_PERCENTAGE" />
	</parameterMap>

	<resultMap type="com.tmrasys.domain.Project" id="employeeMapper">
		<id property="projectId" column="PROJECT_ID" />
		<result property="projectName" column="PROJECT_NAME" />
		<result property="priority" column="PRIORITY" />
		<result property="startDate" column="START_DATE" />
		<result property="endDate" column="END_DATE" />
		<result property="needPrincipalAssist" column="NEED_PRINCPAL_ASSIST" />
		<result property="projectContent" column="PROJECT_CONTENT" />
		<result property="potentialExpenditure" column="POTENTIAL_EXPENDITURE" />
		<result property="sampleCount" column="SAMPLE_COUNT" />
		<result property="researchDirection" column="RESEARCH_DIRECTION" />
		<result property="platformDemand" column="TECHNOLOGY_PLATFORM_DEMAND" />
		<result property="hasCorporatedIntention" column="HAS_CORPORATED_INTENTION" />
		<result property="needProjectPlan" column="NEED_PROJECT_PLAN" />
		<result property="needSCI" column="NEED_SCI" />
		<result property="projectNote" column="PROJECT_NOTE" />
		<result property="projectType" column="PROJECT_TYPE" />
		<result property="projectStatusPercentage" column="PROJECT_PERCENTAGE" />
	</resultMap>

</mapper>

