<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tmrasys.dao.ProjectProgressDao">
	<select id="getByProjectId" resultMap="projectProgressMapper"
		resultType="list" parameterType="int">
		SELECT * FROM project_progress
		WHERE
		project_id=#{projectId}
		ORDER BY PROGRESS_DATE DESC
	</select>
	<select id="getBasicByProjectId" resultMap="projectProgressMapper"
		resultType="list" parameterType="int">
		SELECT project_id,employee_id,employee_name,percentage FROM project_progress
		WHERE
		project_id=#{projectId} 
		ORDER BY PROGRESS_DATE DESC
	</select>
	<insert id="addProjectProgress" keyProperty="projectProgressId"
		parameterMap="ppParameter" useGeneratedKeys="true">
		INSERT INTO
		`project_progress`
		(`EMPLOYEE_ID`,`EMPLOYEE_NAME`,`PROGRESS_CONTENT`,`PROGRESS_DATE`,`PROJECT_ID`,`PERCENTAGE`)
		VALUES 
		(#{employeeId},#{employeeName},#{content},#{progressDate},#{projectId},#{percentage});
	</insert>
	<resultMap type="com.tmrasys.domain.ProjectProgress" id="projectProgressMapper">
		<id property="projectProgressId" column="PROJECT_PROGRESS_ID" />
		<result property="projectId" column="PROJECT_ID" />
		<result property="employeeId" column="EMPLOYEE_ID" />
		<result property="employeeName" column="EMPLOYEE_NAME" />
		<result property="content" column="PROGRESS_CONTENT" />
		<result property="progressDate" column="PROGRESS_DATE" />
		<result property="percentage" column="PERCENTAGE" />
	</resultMap>
	<parameterMap type="com.tmrasys.domain.ProjectProgress"
		id="ppParameter">
		<parameter property="employeeId" resultMap="EMPLOYEE_ID" />
		<parameter property="employeeName" resultMap="EMPLOYEE_NAME" />
		<parameter property="content" resultMap="PROGRESS_CONTENT" />
		<parameter property="progressDate" resultMap="PROGRESS_DATE" />
		<parameter property="projectId" resultMap="PROJECT_ID" />
		<parameter property="percentage" resultMap="PERCENTAGE" />
	</parameterMap>
</mapper>

