<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<mappers>
		<mapper resource="sqlmap/mappers/com/tmrasys/dao/ProjectMapper.xml" />
		<mapper resource="sqlmap/mappers/com/tmrasys/dao/EmployeeMapper.xml" />
		<mapper resource="sqlmap/mappers/com/tmrasys/dao/OutSourceMapper.xml" />
		<mapper resource="sqlmap/mappers/com/tmrasys/dao/CustomerMapper.xml" />
		<mapper resource="sqlmap/mappers/com/tmrasys/dao/ProjectProgressMapper.xml" />
		<mapper resource="sqlmap/mappers/com/tmrasys/dao/ProjectEmployeeMapper.xml" />
		<mapper resource="sqlmap/mappers/com/tmrasys/dao/PrivilegeMapper.xml" />
		<mapper resource="sqlmap/mappers/com/tmrasys/dao/ContractMapper.xml" />
		<mapper resource="sqlmap/mappers/com/tmrasys/dao/MessageMapper.xml" />
		<mapper resource="sqlmap/mappers/com/tmrasys/dao/SampleMapper.xml" />
		<mapper resource="sqlmap/mappers/com/tmrasys/dao/DocumentMapper.xml" />
		<mapper resource="sqlmap/mappers/com/tmrasys/dao/LiteratureMapper.xml" />
	</mappers>
</configuration>	
